<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="297343f2-542e-49ee-83d8-5d13c2312d14" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="297343f2-542e-49ee-83d8-5d13c2312d14fileName">TestSuite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
